.hero-bg {
  background-image: url(/src//assets/monspark-bg-modified-01.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.features-bg {
  background-image: url(/src//assets/monspark-features-bg-01.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.globe-bg {
  background-image: url(/src//assets/monspark-globe-bg-modified-01.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.status-bg {
  background-image: url(/src//assets/monspark-status-bg-01.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header-tag {
  font-size: clamp(0rem, 0rem + 10vw, 4rem);
  font-weight: 800;
}

.container {
  padding: 0 1rem;
  max-width: 70rem;
  margin: 0 auto;
}

.container-ts {
  padding: 0 1rem;
  max-width: 95rem;
  margin: 0 auto;
}

.container-ft {
  padding: 0 1rem;
  max-width: 58rem;
  margin: 0 auto;
}

.container-nav {
  padding: 0 1rem;
  max-width: 60rem;
  margin: 0 auto;
}
